.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .imageContainer {
    min-width: 300px;
    width: 50%;

    img {
      width: 100%;
    }
  }

  h1 {
    font-size: 7rem;
    line-height: 0.8em;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    flex-direction: row-reverse;

    .imageContainer {
      width: 50%;
    }

    .heroText {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
