/*index*/
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Playfair+Display:wght@700&display=swap");

:root {
  --primary-color: rgb(20, 20, 21);
  --secondary-color: #ded5d5;
  --accent-color: rgb(34, 54, 22);
  --accent-color2: rgb(168, 68, 50);
  --primary-font: "Marcellus", serif;
  --secondary-font: "Playfair Display", serif;
  font-size: 62.5%;
}

/*app.css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 10px solid green;
  background-color: var(--secondary-color);
  font-family: var(--primary-font);
  width: 100%;
  max-width: 1080px;
  margin:auto;
  display: flex;
}

@media screen and (min-width: 700px) {
  body { width: 100vw;}
}

.container {
padding: 0em 2em;
display: flex;flex-direction: column;
align-items: center;
}

h1,
h2 {
  font-family: var(--secondary-font);
  line-height: 1.4rem;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-size: 2.7rem;
  font-family: var(--primary-font);
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  border-radius: 60px;
  padding: 15px 40px;
  margin-top: 1em;
  transition: all 0.5s ease;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
