.shop {
  display: flex;
  flex-wrap: wrap;justify-content: center;;
}

.productCard {
  width: 48%;
  margin: 1em 0.3em;
  text-align: center;

  img {
    width: 100%;
  }
h2 {
    font-size:1.8rem
} p {
    font-size: 1.3rem;
}
  .price::before {
    content: "£";
  }

  
}
