.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper:first-child {
  margin-top: 0;
}
.banner {
  height: 70vh;
  width: 100vw;
  background-image: url("Stocksy_comp_1179747.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
}

.banner h1 {
  font-size: 90px;
  text-align: center;
  display: block;
  color: var(--accent-color2);
  opacity: 0.6;
  letter-spacing: -3px;
  line-height: 0.9em;
}

.banner h1::before {
  content: "-";
}
.banner h1::after {
  content: "-";
}
span {
  display: block;
  font-size: 70px;
}


.infoContainer p {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  text-align: left;
  color: var(--accent-color);
}

.ingredientsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
