

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--accent-color2);
    color:var(--secondary-color);
    padding: 2em 1em;
  }
  
  
  .textWrapper {
      width: 90%;   
  }
  
  .text {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .wrapper:nth-child(even) {
      flex-direction: row;
  }
  
  
  .image {
    height: 100%;
   display: flex;justify-content: center;
  }
  
  .image img {
    width: 90%;
    object-fit: cover;
  }
  
  .heading {
    font-family: var(--secondary-font);
    font-size:4rem;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
    letter-spacing: -3px;
    line-height: 0.9em;
  }
  
  .body {
    font-family: var(--primary-font);
      font-size: 1.6rem;
  }
  