.container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 300px;
  width: 100%;
  margin: 0;
}

.left,
.right,
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.left {
  align-items: flex-start;
}
.center {
    align-items: center;
}
.right {
  align-items: flex-end;
}

.left img {
  height: 200px;
}
.left,
.right {
  flex: 1;
}
.center {
  flex: 2;
}
.right a {
    margin: 10px 0
}
.center p {
    font-size: 24px;
    text-align: center;
}
input {
    border: none;
    height: 3em;
    width: 400px;
    font-size: 20px;
    padding: 10px;
    margin: 8px;
    outline: none;
    text-align: center;
    margin: 10px 0;


}
button {
  cursor: pointer;
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  border-radius: 60px;
  padding: 15px 40px;
  transition: all 0.5s ease;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
