.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 2em 0;
}

.social,
.links,
.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.social {
  align-items: flex-start;
}
.signup {
    align-items: center;
}
.social img {
  width: 160px;
}

.social,
.links {
  flex: 1;
}

.container > div:nth-child(1) {
  display: flex;
  width: 100%
}

.signup {
  flex: 2;
  margin: 3em 0 5em 0;
}

a, p {
    margin: 10px 0;
    font-size: 1.5rem;;
}

p, a {
  font-family: var(--primary-font);
}
.signup p {
    font-size: 24px;
    text-align: center;
}

input {
    border: none;
    height: 3em;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin: 8px;
    outline: none;
    text-align: center;
    margin: 10px 0;
    background-color: #fff;
}

input::placeholder {
  color: rgb(185, 192, 195);
  font-weight: 100;
}

button {
  cursor: pointer;
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  border-radius: 60px;
  padding: 15px 40px;
  transition: all 0.5s ease;
  align-self: flex-start;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
