.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 5em;
}


.text {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper:nth-child(even) {
    /* flex-direction: row; */
}


.image {
   width: 80%;
 margin: auto;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.title {
  font-family: var(--secondary-font);
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.date,
.description {
  font-family: var(--primary-font);
}

.date {
    font-size: 18px;
}
.description {
    font-size: 20px;
}
