
.menuIcon {
  display: none;
}

li, ul {
  list-style: none;
}

a {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 1rem;
  text-decoration: none;
}

a:visited {
    color: var(--primary-color);
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: sticky;
  padding: 0 1em;
}

.center, .logoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logoWrapper {
  justify-content: center;
}

.logo a {
  font-size: 3rem;
  font-family: var(--secondary-font);
}

.center {
    justify-content: space-between;
}

.links {
  display: flex;
}

.navLink {
  margin: 0px 15px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 1s ease-in-out;
}

.navLink:hover {
  text-decoration: underline;
}

.left,
.center,
.right {
  flex: 1;
}

.center {
  flex:2
}

.right, .left {
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

@media screen and (max-width: 800px) {
  .center {
    position: relative;
  }
  
  .menuIcon {
    display: block;
    width: 25px;
    margin-left: 10px;
  }
  .menuIcon:hover {
    cursor: pointer;
  }
  .left,
  .links {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 90vw;
    transform: translateX(-300px);
    transition: transform 1s ease-out, visibility 1s;
    visibility: hidden;
    width: 300px;

  }

  .links li a {
    font-size: 40px;
    font-weight: bold;
    margin: 5px 15px;
    cursor: pointer;
  }

  .center {
    align-items: flex-start;
    text-align: left;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .links.active {
  transform: translateX(0px);
  transition: transform 1s ease-out, visibility 0s;
  visibility: visible;
  }

}
 
