.cardWrapper {
    /* width: 40vw; */
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.imgWrapper img {
    width: 100%;
    height: 100%;
}

.textWrapper p{
    font-family: var(--primary-font);
    text-align: center;
}

.textWrapper h2 {
    font-family: var(--secondary-font);
    font-size: 2rem;
    text-align: center;
}

.price::before {
    content: "£";
}