

  @import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Playfair+Display:wght@700&display=swap');

:root {
  --primary-color: rgb(20, 20, 21);
  --secondary-color: #e9dfdf;
  --accent-color: rgb(34,54,22);
  --accent-color2: rgb(168,68,50);
  --primary-font: 'Marcellus', serif;
  --secondary-font:'Playfair Display', serif;
}
